* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, hsl(0, 0%, 49%));
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

header .logo
{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;


}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}

header ul li a:hover, 
header ul li a.active 
{
    background-color: #ffff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#white_bg{
    z-index: -1;
    mix-blend-mode: multiply;
    
}
section img#profilePic{
    z-index: -1;
    width: 100%;
    mix-blend-mode:lighten;
}

#text1{
    position: absolute;
    font-size: 1in;
    color:hsl(0, 10%, 37%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-left: 20%;
}

#btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 40px;
    color: #6f6ccb;
    background:hsl(0, 0%, 100%);
    font-size: 1.5em;

}
.block1 {
    margin-top: 7%;
    display: grid;
    grid-template-rows: auto;
}
.block1 img{
    grid-column: 1;
    border-radius: 10%;
}
.block1 p{
    margin: 10%;
    padding: 5%;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
.block1 h1{
    margin: 1%;
    padding: 5%;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}